<body>
  <div class="migaPanPadre">
    <div class="migaPan">
      <ul class="breadcrumb">
        <li><a class="active" routerLink="/rutinas">Rutinas</a></li>
        <li><a *appRole="['entrenador']" routerLink="/crear-rutinas">Crear Rutinas</a></li>
      </ul>
    </div>
  </div>
  <h2>Rutinas</h2>
  <div class="cont">
    <div class="centrar">
      <div class="card">
        <section class="articles" [hidden]="!rutinas">
          <article *ngFor="let rutinas of listRutinas">
            <div class="article-wrapper">
              <figure>
                <img [id]="'image' + rutinas._id" alt="imagen de rutina.jpg" />
              </figure>
              <div class="article-body">
                <h2>{{rutinas.nombre}}</h2>
                <p>{{rutinas.descripcion}}
                </p>
                <br>
                <h6>Autor: <strong>{{(nombrePerfil | async)?.nombre}}</strong></h6>
                <a (click)="mostrar(rutinas)" class="read-more">
                  Ver rutina<span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
        <br>
        <div *ngIf="listRutina" class="keto">
          <article>
            <div class="article-wrapper">
              <figure>
                <img [id]="'imagen' + mostrarRutina._id" alt="imagen de rutina.jpg" />
              </figure>
              <div class="article-body">
                <h2>{{ mostrarRutina.nombre }}</h2>
                <p>
                  {{ mostrarRutina.descripcion }}
                </p>
                <table>
                  <tbody>
                    <tr>
                      <th> Día </th>
                    </tr>
                    <tr>
                      <td> Lunes </td>
                      <td> {{ mostrarRutina.lunes }} </td>
                    </tr>
                    <tr>
                      <td> Martes </td>
                      <td> {{ mostrarRutina.martes }} </td>
                    </tr>
                    <tr>
                      <td> Miercoles </td>
                      <td> {{ mostrarRutina.miercoles }} </td>
                    </tr>
                    <tr>
                      <td> Jueves </td>
                      <td> {{ mostrarRutina.jueves }} </td>
                    </tr>
                    <tr>
                      <td> Viernes </td>
                      <td> {{ mostrarRutina.viernes }} </td>
                    </tr>
                    <tr>
                      <td> Sabado </td>
                      <td> {{ mostrarRutina.sabado }} </td>
                    </tr>
                    <tr>
                      <td> Domingo </td>
                      <td> {{ mostrarRutina.domingo }} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button class="button-31" (click)="rutinas=true" (click)="listRutina=false">Cerrar</button>
          </article>
        </div>
      </div>
      <!--       <article [hidden]="!listRutina">
        <figure>
          <img src="../../../assets/tetones.jpg" alt="" />
        </figure>
        <div class="article-body" id="troncoSup">
          <h2>
            Rutinas Tronco Superior
          </h2>
          <ul>
            <li>
              <h3>
                Remo horizontal con mancuernas
              </h3>
            </li>
            <li>
              <video src="../../../assets/remohorizontal.mp4" controls></video>
            </li>
            <li>
              <h3>
                Press militar
              </h3>
            </li>
            <li>
              <video src="../../../assets/pressMilitar.mp4" controls></video>
            </li>
            <li>
              <h3>
                Flexiones
              </h3>
            </li>
            <li>
              <video src="../../../assets/flexiones.mp4" controls></video>
            </li>
            <li>
              <h3>
                Curl de bisep
              </h3>
            </li>
            <li>
              <img src="../../../assets/rutTs_4.jpg">
            </li>
            <li>
              <h3>
                Remo unilateral
              </h3>
            </li>
            <li>
              <img src="../../../assets/ruts_5.jpg">
            </li>
            <li>
              <h3>
                Elevaciones laterales con elevaciones frontales
              </h3>
            </li>
            <li>
              <img src="../../../assets/rutTs_6-1.jpg">
            </li>
            <li>
              <img src="../../../assets/rutTd6-2.jpg">
            </li>
            <li>
              <h3>
                Press con mancuernas
              </h3>
            </li>
            <li>
              <img src="../../../assets/rutTs7.jpg">
            </li>
            <li>
              <h3>
                Curl de biseps overhead
              </h3>
            </li>
            <li>
              <img src="../../../assets/rutTs8.jpg">
            </li>
          </ul>
        </div>
        <button class="button-31" (click)="listRutina=false" (click)="rutinas=true">Cerrar</button>
      </article> -->
    </div>
  </div>
</body>
<footer class="footer">
  <button class="btn">
    <a routerLink="/mapa-sitio">Mapa del Sitio</a>
  </button>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link"
        href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
        <img src="../../../../assets/facebook.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/training_web4083/?hl=es"
        target="_blank">
        <img src="../../../../assets/instagram.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <img src="../../../../assets/atencion.png">
      </a></li>
  </ul>
  <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>
