<html>

<body>
  <div class="grid">
    <div class="card">
      <h4>Tu resumen alimenticio</h4>
      <p></p>
      <h5>
        Estos fueron los platillos que consumiste en la semana
      </h5>
      <table>
        <tbody>
          <tr>
            <td>
              Yogur de coco con frutos rojos
            </td>
            <th>
              <input type="checkbox">
            </th>
          </tr>
          <tr>
            <td>
              Gachas de coco y chocolate 85%
            </td>
            <th>
              <input type="checkbox">
            </th>
          </tr>
          <tr>
            <td>
              Tortilla grancesa con 4 rodaja de tomate
            </td>
            <th>
              <input type="checkbox">
            </th>
          </tr>
          <tr>
            <td>
              Queso fresco batido con arándanos y fresas
            </td>
            <th>
              <input type="checkbox">
            </th>
          </tr>
          <tr>
            <td>
              Pan nube con jámon y queso
            </td>
            <th>
              <input type="checkbox">
            </th>
          </tr>
        </tbody>
      </table>
      <div class="shine"></div>
      <div class="background">
      </div>
    </div>
    <div class="card">
      <h4>Tu progreso</h4>
      <p>Aqui te motivas a seguir adelante
      </p>
      <div class="shine"></div>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="btn">
    <a routerLink="/mapa-sitio">Mapa del Sitio</a>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link"
        href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
        <img src="../../../../assets/facebook.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/training_web4083/?hl=es"
        target="_blank">
        <img src="../../../../assets/instagram.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <img src="../../../../assets/atencion.png">
      </a></li>
  </ul>
  <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>

</html>