<body>
    <div class="container text-center">
        <div class="row row-cols-auto">
            <div class="col">
                <h4><a class="tw" routerLink="/">Training Web</a></h4>
            </div>
        </div>
        <div class="row row-cols-auto">
            <div class="col">
                <h3>Inicio</h3>
                <a routerLink="/inicio">Inicio</a>
            </div>
            <div class="col">
                <h3>Alimentacion</h3>
                <a routerLink="/dietas">Dietas</a>
                <br>
                <a routerLink="/crear-dietas">Crear Dietas</a>
            </div>
            <div class="col">
                <h3>Ejercicio</h3>
                <a routerLink="/rutinas">Rutinas</a>
            </div>
            <div class="col">
                <h3>Progreso</h3>
                <a routerLink="/trac">Trac</a>
            </div>
            <div class="col">
                <h3>Profesionales</h3>
                <a routerLink="/profesionales">Profesionales</a>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
                <img src="../../../../assets/facebook.png" alt="">
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.instagram.com/training_web4083/?hl=es" target="_blank">
                <img src="../../../../assets/instagram.png" alt="">
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <img src="../../../../assets/atencion.png">
            </a></li>
    </ul>
    <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>