<!-- <header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio"><img src="../../../assets/logo.png" style="width: 10vw;"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<body>
  <div class="centrar">
    <div class="contenido">
      <div class="back">
        <h1>
          Error al encontrar esta página
        </h1>
        <br>
        <h2>
          Lo sentimos ocurrió un error :/
        </h2>
        <img class="imagen" src="../../../assets/error.jpeg">
        <p>
          Te sujerimos volver a la página de inicio e intentar nuevamente :D
        </p>
      </div>
    </div>
  </div>
</body>