<body>
    <div class="migaPanPadre">
        <div class="migaPan">
            <ul class="breadcrumb">
                <li><a class="active" routerLink="/profesionales">Profesionales</a></li>
                <!-- <li><a routerLink="/app-crear-profesionales">Crear Profesionales</a></li> -->
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="card" style="width: 70rem;">
            <br>
            <h3 style="text-align: center;">Profesionales de la salud</h3>
            <br>
            <section class="articles">
                <article *ngFor="let profesional of listProfesionales">
                    <div class="article-wrapper">
                        <figure>
                            <img [id]="'imagen' + profesional._id" alt="imagen de profesional.jpg" />
                        </figure>
                        <div class="article-body">
                            <h2>{{profesional.nombre}} {{profesional.apellido}}</h2>
                            <p>
                                <strong>
                                    {{profesional.descripcionCorta}}
                                </strong>
                                <br>
                                {{profesional.descripcion}}
                                <br>
                                Tel: {{profesional.telefono}}
                                <br>
                                Correo: {{profesional.email}}
                            </p>
                            <!-- <a (click)="showForm()" class="read-more">
                                Generar Consulta<span class="sr-only">about this is some title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a> -->
                        </div>
                    </div>
                </article>
            </section>
            <br>
            <article [hidden]="!show">
                <div class="article-wrapper">
                    <form action="" class="formulario">
                        <h2>Angel Gerardo Velazquez</h2>
                        <label for="">Comentarios:</label>
                        <br>
                        <textarea name="" id=""></textarea>

                        <button class="cerrar" (click)="close()">
                            Enviar
                        </button>
                    </form>
                </div>
            </article>
        </div>
    </div>
    <button id="btn-ajax">

    </button>
</body>
<footer class="footer">
    <button class="btn">
        <a routerLink="/mapa-sitio">Mapa del Sitio</a>
    </button>
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
                <img src="../../../../assets/facebook.png" alt="">
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link"
                href="https://www.instagram.com/training_web4083/?hl=es" target="_blank">
                <img src="../../../../assets/instagram.png" alt="">
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
                <img src="../../../../assets/atencion.png">
            </a></li>
    </ul>
    <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>