<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card" style="width: auto">
                    <div class="card-body text-center">
                        <h3>Registrate</h3>
                        <form class="mt-3" [formGroup]="empleadoForm" (ngSubmit)="crearEmpleado()">
                            <div class="mb-3">
                                <label for="marca">Nombre de Usuario</label>
                                <input type="text" formControlName="nombre" class="form-control"
                                    placeholder="Nombre Usuario" minlength="3" maxlength="20">
                                <div class="text-danger"
                                    *ngIf="empleadoForm.get('nombre')?.hasError('required') && empleadoForm.get('nombre')?.touched">
                                    <span>El nombre de Usuario <strong>ES OBLIGATORIO</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="marca">contraseña</label>
                                <input type="password" formControlName="contraseña" class="form-control"
                                    placeholder="Ingresa una contraseña" minlength="8" maxlength="20">
                                <div class="text-danger"
                                    *ngIf="empleadoForm.get('contraseña')?.hasError('required') && empleadoForm.get('contraseña')?.touched">
                                    <span>La contraseña <strong>ES OBLIGATORIA</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="marca">Apellidos</label>
                                <input type="text" formControlName="apellido" class="form-control"
                                    placeholder="Apellidos">
                                <div class="text-danger"
                                    *ngIf="empleadoForm.get('apellido')?.hasError('required') && empleadoForm.get('apellido')?.touched">
                                    <span>El Apellido <strong>ES OPCIONAL</strong></span>
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="marca">Número de Teléfono</label>
                                <input type="text" formControlName="telefono" class="form-control"
                                    placeholder="Ingresar número de Teléfono" maxlength="10">
                                <div class="text-danger"
                                    *ngIf="empleadoForm.get('telefono')?.hasError('required') && empleadoForm.get('telefono')?.touched">
                                    <span>Ingresar <strong>NÚMERO DE TELÉFONO</strong></span>
                                </div>
                                <div class="text-danger" *ngIf="empleadoForm.get('telefono')?.hasError('pattern')">
                                    <span>El número de teléfono debe contener solo números</span>
                                </div>
                            </div> -->
                            <div class="mb-3">
                                <label for="marca">Correo electrónico</label>
                                <input type="email" formControlName="email" class="form-control"
                                    placeholder="Correo Electrónico" required="true">
                                <div class="text-danger"
                                    *ngIf="empleadoForm.get('email')?.hasError('required') && empleadoForm.get('email')?.touched">
                                    <span>Ingresar <strong>CORREO ELECTRÓNICO</strong> </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <re-captcha
                                    [formControlName]="empleadoForm.get('recaptchaToken')?.value ?  'recaptchaToken' : ''"
                                    sitekey="6LeoROApAAAAAI0GxlMQBhZvu63YlcbPlkPyr_l6"
                                    (resolved)="resolvedCaptcha($event)"></re-captcha>
                            </div>
                            <div class="mb-3">
                                <button type="submit" id="aceptar" type="submit">Aceptar</button>
                                <br>
                                <hr>
                                <p>Ya tengo una cuenta</p>
                                <a class="volver" routerLink="/app-login">Iniciar Sesion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>