<div class="migaPanPadre">
  <div class="migaPan">
    <ul class="breadcrumb">
      <li><a routerLink="/dietas">Dietas</a></li>
      <li><a class="active" routerLink="/crear-dietas">Crear Dietas</a></li>
    </ul>
  </div>
</div>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card" style="width: auto">
          <div class="card-body text-center">
            <h3>Crear Dietas</h3>
            <form class="mt-3" [formGroup]="dietaForm" (ngSubmit)="createDieta()">
              <div class="mb-3">
                <label for="marca">Nombre de la dieta</label>
                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre de la Dieta">
              </div>
              <div class="mb-3">
                <label for="marca">Descripcion de la Dieta</label>
                <textarea formControlName="descripcion" class="form-control"
                  placeholder="Agrega un descripción"></textarea>
              </div>
              <!--               <div class="mb-3">
                <label for="marca">Autor de la Dieta</label>
                <input type="text" formControlName="autor" class="form-control"
                  placeholder="Ingresa el Autor de la dieta">
              </div> -->
              <div class="mb-3">
                <label for="marca">Contribucion</label>
                <input type="text" formControlName="contribucion" class="form-control"
                  placeholder="Ingresa a qué contribuye esta dieta">
              </div>
              <div class="mb-3">
                <label for="marca">Imagen</label>
                <input type="file" id="imageDieta" formControlName="image" class="form-control"
                  (change)="onFileChange($event)" placeholder="Selecciona la imagen de la dieta">
              </div>
              <div class="">
                <label for="marca">Llena la tabla con cada una de las comidas</label>
                <table class="tablaKeto">
                  <tbody>
                    <tr>
                      <th class="rowDay"> Día </th>
                      <th> Desayuno </th>
                      <th> Comida </th>
                      <th> Cena </th>
                    </tr>
                    <tr>
                      <td class="rowDay"> Lunes </td>
                      <td>
                        <textarea formControlName="lunesDesayuno" class="form-control"
                          placeholder="Desayuno del lunes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="lunesComida" class="form-control"
                          placeholder="Comida del lunes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="lunesCena" class="form-control"
                          placeholder="Cena del lunes"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Martes </td>
                      <td>
                        <textarea formControlName="martesDesayuno" class="form-control"
                          placeholder="Desayuno del martes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="martesComida" class="form-control"
                          placeholder="Comida del martes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="martesCena" class="form-control"
                          placeholder="Cena del martes"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Miercoles </td>
                      <td>
                        <textarea formControlName="miercolesDesayuno" class="form-control"
                          placeholder="Desayuno del miercoles"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="miercolesComida" class="form-control"
                          placeholder="Comida del miercoles"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="miercolesCena" class="form-control"
                          placeholder="Cena del miercoles"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Jueves </td>
                      <td>
                        <textarea formControlName="juevesDesayuno" class="form-control"
                          placeholder="Desayuno del jueves"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="juevesComida" class="form-control"
                          placeholder="Comida del jueves"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="juevesCena" class="form-control"
                          placeholder="Cena del jueves"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Viernes </td>
                      <td>
                        <textarea formControlName="viernesDesayuno" class="form-control"
                          placeholder="Desayuno del viernes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="viernesComida" class="form-control"
                          placeholder="Comida del viernes"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="viernesCena" class="form-control"
                          placeholder="Cena del viernes"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Sabado </td>
                      <td>
                        <textarea formControlName="sabadoDesayuno" class="form-control"
                          placeholder="Desayuno del sabado"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="sabadoComida" class="form-control"
                          placeholder="Comida del sabado"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="sabadoCena" class="form-control"
                          placeholder="Cena del sabado"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td class="rowDay"> Domingo </td>
                      <td>
                        <textarea formControlName="domingoDesayuno" class="form-control"
                          placeholder="Desayuno del domigo"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="domingoComida" class="form-control"
                          placeholder="Comida del domigo"></textarea>
                      </td>
                      <td>
                        <textarea formControlName="domingoCena" class="form-control"
                          placeholder="Cena del domigo"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mb-3">
                <button type="button" id="btnCancelar" style="color: red;"><a style="text-decoration: none;color: red;"
                    routerLink="/dietas">Cancelar</a></button>
                <button id="aceptar" type="submit" style="color: #fff;">Aceptar</button>
              </div>
              <h5><strong>Autor de la dieta: </strong>{{(nombrePerfil | async)?.nombre}}</h5>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="btn">
    <a routerLink="/mapa-sitio">Mapa del Sitio</a>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link"
        href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
        <img src="../../../../assets/facebook.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/training_web4083/?hl=es"
        target="_blank">
        <img src="../../../../assets/instagram.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <img src="../../../../assets/atencion.png">
      </a></li>
  </ul>
  <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>