body{
    padding: 5pc;
    font-size: 12px;
}
.text-danger{
    text-align: start;
    margin-left: 7px;
}
.card{
    background-color: #18181b;
}
label{
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    padding: 1pc;
}
button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    background: none;
    border: none;
}
button:hover{
        background: #e3d617;
        color: #18181b;
        border-radius: 5px;
        box-shadow: 0 0 5px #e3d617, 0 0 25px #e3d617, 0 0 50px #e3d617,0 0 100px #e3d617;
}
.footer {
    position: relative;
    width: 100%;
    background: #23272e;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.footer img {
    width: 2pc;
}

/*******************************************************************/
.mapaSitio {
    color: #18181b;
    font-weight: bolder;
    width: auto;
}

table {
    width: 60vw;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0px;
    color: white
}

table tbody td {
    border-radius: 0px;
    height: 3pc;
    width: 3pc;
    text-align: justify;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

.rowDay {
    max-width: 30px;
    padding-left: 1rem;
}

table tbody td:hover {
    cursor: pointer;
}

table tbody td a {
    font-display: none;
    color: #fff;
}

table tbody td li {
    padding: 0.5pc;
}

table tbody td a:hover {
    font-display: none;
    color: #fff;
    text-shadow: 1px 1px 6px #fff;
    font-size: 1rem;
}

table, th, td {
  border: 1px solid #e3d617;
}

h3 {
    color: #e3d617;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.btn {
    width: auto;
    overflow: hidden;
    margin: 1pc;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #e3d617;
    text-decoration: none;
}

.btn:hover {
    text-shadow: 1px 1px 6px #fff;
    transform: scale(1.1);
    /* Escala 10% más grande al pasar el cursor */
    font-size: 1em;
    transition: all 0.2s ease;
    color: white;

    & #ibtn {
        transition: all 0.2s ease;
        transform: scale(1.2);
    }

}
.btn a {
    text-decoration: none;
    color: #18181b;
}

.btn a:hover {
    color: #fff;
    font-size: 1.5rem;
}


body {
    margin: 0;
    background-color: #202024;
}

.row {
    width: auto;
    margin: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    list-style: none;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.cerrar:hover {
    border-radius: 5px;
    background: #18181b;
    color: #fff;
}

a #btnCancelar {
    text-decoration: none !important;
    color: red;
}


/* MIGAS DE PAN */

.migaPanPadre {
    position: relative;
}

.migaPan {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

ul.breadcrumb a:link,
ul.breadcrumb a:visited {
    text-decoration: none;
    color: white;
}

ul.breadcrumb li a.active {
    color: #d1c515;
    font-weight: bold;
}

ul.breadcrumb li a.active:hover {
    color: #e3d617;
    font-weight: bold;
}
h5{
    color: #fff;
}
textarea{
    border-radius: 0px;
    border: 0px;
}
textarea:hover{
    background: #18181b;
    color: #fff;
    transition: 0.5s;
}