<router-outlet>
  <!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  </head>
  <nav *ngIf="($isLogin | async)" class="navbar navbar-expand-lg" style="background-color: #18181b;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio"><img src="../assets/logo.png" style="width: 10vw;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *appRole="['admin', 'nutriologo', 'usuario']" routerLink="/dietas">Dietas</a>
          </li>
          <!--           <li class="nav-item">
            <a class="nav-link" routerLink="/crear-dietas">Crear Dietas</a>
          </li> -->
          <li class="nav-item" *appRole="['admin', 'entrenador', 'usuario']">
            <a class="nav-link" routerLink="/rutinas">Rutinas</a>
          </li>
          <li>
            <a class="nav-link" *appRole="['usuario']" routerLink="/trac">Trac</a>
          </li>
          <li>
            <a class="nav-link" *appRole="['admin','entrenador', 'nutriologo', 'usuario']"
              routerLink="/profesionales">Profesionales</a>
          </li>
          <li>
            <a class="nav-link" *appRole="['admin']" routerLink="/vista-admin">Gestión de Usuarios</a>
          </li>
        </ul>
        <!--         <div class="box">
          <form name="search">
            <input type="text" placeholder="Buscador..." class="input" name="txt"
              onmouseout="this.value = ''; this.blur();">
          </form>
        </div> -->
        <div class="right">
          <a (click)="muestra()" class="perfil-a">
            <div class="perfil">
            </div>
          </a>
          <div class="options" [hidden]="!opcionPerfil">
            <div class="options-body">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p>{{(nombrePerfil | async)?.nombre}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <a (click)="logOut()">Ver perfil</a>
              <br>
              <a (click)="logOut()">Cerrar Sesion</a>
              <br>
              <hr>
              <a (click)="cerrar()">Ocultar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--   <header>
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/inicio"><img src="../assets/logo.png" style="width: 10vw;"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/listar-empleados" *appRole="['normal','admin']">Dietas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/listar-recurso" *appRole="['normal','admin']">Rutinas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/asignacion" *appRole="['normal','admin']">Trac</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/crear-recurso" *appRole="['normal']">Profesionales</a>
                </li>
                <li>
                  <div class="box">
                    <form name="search">
                      <input type="text" placeholder="Buscador..." class="input" name="txt"
                        onmouseout="this.value = ''; this.blur();">
                    </form>
                  </div>
                </li>
                <li>
                  <div class="logOut">
                    <a routerLink="/app-login">
                      <button>
                        Iniciar Sesion
                      </button>
                    </a>
                    <button (click)="logOut()">Cerrar Sesion</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header> -->

  <body>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
  </body>

  </html>
</router-outlet>
