<body>
    <div class="migaPanPadre">
        <div class="migaPan">
            <ul class="breadcrumb">
                <li><a routerLink="/profesionales">Profesionales</a></li>
                <li><a class="active" routerLink="/app-crear-profesionales">Crear Profesionales</a></li>
            </ul>
        </div>
    </div>
    <br>
    <h1>
        Agrega un Usuario Profesional
    </h1>
    <br>
    <form action="">
        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required />
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="" id="" placeholder="" required />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                placeholder="Ejemplo: abc@mail.com" required />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Foto de Perfil</label>
            <input type="file" class="form-control">
        </div>
        <div class="mb-3">
            <button class="btn" type="submit">Agregar</button>
        </div>
    </form>
</body>