<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<html>

<body>
  <!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <img src="../../../../assets/logo.png" style="width: 10pc;">
          </li>
          <li>
            <a routerlink="/app-login"><button>Iniciar Sesion</button></a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video loop preload="metadata" autoplay>
          <source src="../../../../assets/presentacionTrainingWeb.mp4">
        </video>
      </div>
    </div>
    <div class="titulo">
      <div class="tituloChild">
        <a class="nav-link" style="cursor:default;"><img src="../../../assets/logo.png" style="width: 25vw;"></a>
        <br>
        <p>
          Una Aplicación Web para registrar tus actividades deportivas, dietas y avance de tu rutina.
        </p>
        <div class="centrar-btnP">
          <div class="centrar-btn">
            <a routerLink="/app-login">
              <br>
              <button style="cursor: pointer;">Entrar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="redes-sociales">
    <ul>
      <li>
        <a href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank"><img
            src="../../../../assets/facebook.png" alt=""></a>
      </li>
      <li>
        <a href="https://www.instagram.com/training_web4083/?hl=es" target="_blank"><img
            src="../../../../assets/instagram.png" alt=""></a>
      </li>
      <li>
        <a href=""><img src="../../../../assets/atencion.png"></a>
      </li>
    </ul>
  </div>

</body>
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link"
        href="https://www.facebook.com/profile.php?id=61556960667724" target="_blank">
        <img src="../../../../assets/facebook.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/training_web4083/?hl=es"
        target="_blank">
        <img src="../../../../assets/instagram.png" alt="">
      </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <img src="../../../../assets/atencion.png">
      </a></li>
  </ul>
  <p>&copy;2024 Training Web | Todos los derechos reservados</p>
</footer>

</html>